.button {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    font-size: 16px;
    background-color:  #775CE5;
    width: 353px;
    padding: 20px 140px;
    color: wheat;
    gap: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: opacity 0.7s;
    z-index: 3;
    position: relative;
}

.button:hover {
    opacity: 0.7;
}

.button-transparent { 
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #775CE5;
    width: 353px;
    padding: 20px 140px;
    color: #775CE5;
    cursor: pointer;
    transition: opacity 0.7s;
    z-index: 3;
    position: relative;
}

.button-transparent:hover {
    opacity: 0.7;
}
